.login-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  margin: 1rem;

  .login-inputs {
    display: flex;
    flex-direction: column;
    // flex: 1;

    input[type='text'] {
      width: 100%;
      margin: {
        bottom: 0.5rem;
      }
    }

    input[type='password'] {
      width: 100%;
      margin: {
        // right: 1rem;
      }
    }

    input {
      background-color: #fff;
      // flex: 1;
    }
  }

  .login-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    button {
      // flex: 1;
    }
  }
}
