.login-container {
  width: 100%;
  display: flex;
  padding: 1rem;
  background-color: #e9ecef;
  box-shadow: 3px 3px 3px 3px #999;

  .login-inputs {
    display: flex;
    flex-direction: column;
    flex: 1;
    input {
      background-color: #e9ecef;
      flex: 1;
      font-weight: 600;
    }
  }

  .login-button {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    button {
      flex: 1;
    }
  }
}
