.menu-container {
  display: flex;
  flex-direction: column;

  .name-and-logout {
    display: flex;
    justify-content: space-between;
  }

  .menu-jumbo {
    padding: {
      top: 1rem !important;
      bottom: 0rem !important;
    }
  }

  .menu-buttons {
    width: 100%;
  }

  .logout-button {
    font-size: 1rem !important;
  }

  .selected-container {
    border-radius: 4px !important;
    background: white;
    margin: 1rem;
  }
}
