.storetable-container {
  thead {
    tr {
      th {
        flex: 1;
        text-align: center;
        white-space: nowrap;
        padding: {
          top: 1rem !important;
          bottom: 1rem !important;
        }
      }
    }
  }

  tbody {
    tr {
      th,
      td {
        flex: 1;
        text-align: center;
        white-space: nowrap;
        padding: {
          top: 1rem !important;
          bottom: 1rem !important;
        }
      }
    }
  }
}
