html,
body {
  margin: 0;
  padding: 0;
  background-color: #00d1b2;
}

@import "./../node_modules/bulma/css/bulma.min.css";
@import "./../node_modules/bulma-extensions/dist/css/bulma-extensions.min.css";
